
body{
    padding-top: 80px;
}
.topic{
    margin-top: 150px !important;
   
}
#about{
    display:block;
}

.person{
    margin-top: 15px;
}

.work{
    margin-top: 50px;
}

.work ul li{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 15px;
}

.education{
    margin-top: 50px;
}

.courses{
    margin-top: 50px;
}

.body{
    background-color: yellowgreen !important;
}