


   
    <app-header></app-header>
    
<section>
    <div class="top">

        <div class="container text-center">

            <div class ="topic">
            <h1> ABOUT CHRIS</h1>
        </div>
              <div class= "person" >
                    <h3> Hi, My Name is Christopher Oluwademilade Akintade .</h3>
                     <p>I was born and raised in Lagos, Nigeria. I'm a graduate of Industrial Chemistry from 
                         Federal University, Oye-Ekiti.
                        I'm a  Full Stack Software Developer and also a Chemist. I use <strong>MEAN</strong> 
                        technology (Mongo.db, Express.js, Angular, Node.js) and python. I am also learning and taking courses on 
                        I.O.T (Internet of Things) and A.I (Artificial Intelligence) using python, Raspberry PI and Azure to
                        expand my knowledge of the Tech world. </p>

                    <p> I'm a young dilligent, multi-talented, goal oriented, energetic and innovative 
                        individual. <br>
                        Finally i have a drive for change and improvement and does not accept the status quo.
         </p> 
                </div>
            </div>
        </div>
        </section>



           
             <div class="container"> 
                   
                 <div class="row">    
                     <section class="col-sm-6">
               <div class="work">
                    <h3> WORK EXPERIENCES</h3>

                    <div class="text-dark">
                        <ul>
                        <li>Ticket officer and Web Developer at  Teximarco Travels and Tours, Lagos <br>
                    November 2018 — Present</li>
                    

                    <li>Assisting Officer at  Teximarco International Limited, Lagos <br>
                     August 2018 — November 2018 </li>


                     <li>National Youth Service Corps  at  Mega Secondary School, Ogun state <br>
                        September 2017 — July 2018</li>


                    <li>Assisting Officer at  Streams Project Company Ltd., Lagos <br>
                            August 2011 — January 2012</li>
                    

                    <li>Intern at  Lucky Fibre Plc, Lagos <br>
                        September 2015 — December 2015</li>
                   
                    </ul>


                    </div>

                </div>
            </section>
            
            


        
           <aside class="col-sm-6">
            <div class= "education">
            <h2> EDUCATIONAL BACKGROUND</h2>

            <ul class= "text-dark">
                <li>Bsc. Industrial Chemistry , Federal University Oye Ekiti, Ekiti<br/> 
            February 2012 — January 2017</li>
            
           <li> WASSCE, Air force Comprehensive School, Ibadan.<br/>
                 September 2005 — July 2011</li>

            <li> Liham Preparatory School, Iwaya Yaba, Lagos. <br>
            Primary School
        </li>

                </ul>
                </div>
            <div class= "courses">

                <h2>COURSES</h2> 

                <ul class= "text-dark">
                <li>Andela Learning Community , Andela July 2019 — December 2019</li>
                <li>Decagon bootcamp course 4 August 2019 — September 2019</li>
                <li>Mobile web development course, Plural sight July 2019 — December 2019</li>
                <li>Html, css and javascript course, Solo learn</li>
                <li>Introduction to python , Udemy</li>
            </ul>
            </div>
        </aside>
        </div>
        
    </div>

    <app-footer></app-footer>


