
<app-header></app-header>
<div class="bg-dan">
    <div class="container text-center">
        <h1>
            OK, LET'S CREATE SOMETHING GREAT
        </h1>
        <P> If you like my work and you have some cool Projects to work on,<br> 
            just send me direct message or contact me through social sites listed below.
        </P>

        <a href="mailto:chrisfemide@gmail.com" >
        <button>
             <i class="fas fa-paper-plane plane"></i> GET IN TOUCH  
            
            </button>
        </a>
    </div>
</div>

<app-footer></app-footer>
