

button{
    margin-bottom: 50px;
    margin-top: 20px;
    background-origin: padding-box;
    
}



h1{
    margin-bottom: 20px;
    margin-top: 60px;
    color: royalblue;
}

.plane{
    margin-right: 20px;
}

p{
    color:black;
}

.bg-dan{
    margin-top: 150px;
}