

<div class="body">
    <app-header></app-header>
<div class="container text-center trans">
<h1> SERVICES </h1>
</div>
<div class="container">
    <div class="row">
        <section class="col-sm-6">
            <h3>FRONT-END</h3>
            <div class="front">
                <ul>
                    <li>Full Basic Resposnive Website with HTML, CSS and JavaScript</li>
                    <li>  Resposnive Front-end webapp with Angular 9</li>
                    <li> Resposnive Front-end mobile app with React Native</li>
                    <li> Websites using WordPress </li>
                    <li> Ecommerce Websites </li>
                </ul>
            </div>  
        </section>

        <aside class="col-sm-6">
            <div class="back">
                <h3>BACK-END</h3>
                <ul>
                    <li>Creating Restful APIs with Node.js and Express.js</li>
                    <li>Database Implementation with Mongo.db</li>
                    <li> Integration of Payment Gateways</li>
                    <li> Server Side Scripting</li>
                    
                </ul>
            </div>
        </aside>
    </div>

    
        
            <div class="skills">
                <div class="container text-center">
                <h3 class="third">Skills</h3>
            </div>
            <div class="row">
            <section class="col-sm-6">
                <ul>
                    <li> Administrative Skills</li>
                    <li>Microsoft Suite </li>
                    <li> Analytical Skills</li>
                    <li> Fast Learner</li>
                    <li>Adobe Photoshop </li>
                    <li> Corel Draw</li>
                </ul>
            </section>
            
            <aside class="col-sm-6">
                <ul>
                    <li> HTML/CSS/JavaScript</li>
                    <li> Angular, Express.js, Node.js, Mongo DB </li>
                    <li> Digital Marketing</li>
                    <li>Version Control (Github, Git)</li>
                    <li>Analytics</li>
                    <li>Website Audit</li>
                </ul>
            
        </aside>
    </div>
    </div>
</div>
<app-footer></app-footer>
</div>


