
<!-- Card -->

<div class="bg-img-71 img-responsive ">


    
    
<div class="wrapper">
    <!-- Sidebar  -->
        <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Christopher Akintade</h3>
            <strong>CA</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a class="nav-link" routerLinkActive="active" routerLink="/home" >
                    <i class="fas fa-home"></i>
                    Home
                </a>

            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="/about">
                    <i class="fas fa-briefcase"></i>
                    About
                </a>
                
                
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="/portfolio">
                    <i class="fas fa-image"></i>
                    Portfolio
                </a>
            </li>
            <li>
                <a  class="nav-link" routerLinkActive="active" routerLink="/services">
                    <i class="fas fa-copy"></i>
                    Services
                </a>
            </li>
            <li>
                <a  class="nav-link" routerLinkActive="active" routerLink="/contact">
                    <i class="fas fa-paper-plane"></i>
                    Contact
                </a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="/assets/C.V.pdf" class="download">My C.V </a>
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="/pictures" class="article">My Pictures</a>
            </li>
        </ul>

    </nav>
    
       
     


    <!-- Page Content  -->
    <div id="content">
        
        

        

        <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                    
        </button>
                
        

                
          

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center all-text-content-white">
                    <div class= "center-content">
                       <img  class= "avatar" src="assets/images/img10.jpg" alt="my pics" > 
                    <p class= "intro"> <b> Hi, My Name is <strong class ="str"> Akintade Christopher </strong>.<br>
                         I am a Software Developer. I Create and design beautiful things out of nothing.
                          <br> Welcome to my Portfolio Page.</b></p>
                </div>
            </div>
            </div>
        </div>
        <div class=" container iconic">
        <ul class="list-inline m-0">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/christopher.akintade.7">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://instagram.com/seezy_chris">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/christopher-akintade-31bb71b9">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/seezy_xy">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/chrisakin">
                    <i class="fab fa-github" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https:api.whatsapp.com/send?phone=+234 8133470133">
                    <i class="fab fa-whatsapp" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
        </div>
    </div>
</div>    
    
    


